{% extends 'base.html' %}
{% block content %}
{% load static %}

            
          {% if user.is_authenticated %}

       
            
            <h1> welcome to {{ pr_title }} dashboard</h1>
            {% else %}
            <h1>{{ author }} welcome to {{ pr_title }} landing page</h1>

            {% endif %}
           {% if  gender == 'Female' %}
               <p>Greetings Lady</p>
           {% else %}
                <p>Your gender was not captured</p>
           {% endif %}

           {% if  author  %}
               <p>Thank you {{ author }} for wirting this code</p>
           
           {% endif %}
          
    {% endblock %}